<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Memory Card Game</title>
    <link rel="stylesheet" type="text/css" href="../static/css/memoryCards.css">
  </head>
  <body>
    <h1>Memory Cards</h1>
    <div class="actions">
      <button onclick="restart()">Restart</button>

  </div>
   <p id="timer">Time left: 2:00</p>

   <p id="score" >Score: <span  class="score"></span></p>


    <div class="grid-container">
    </div>
  

    <script src="../static/js/memoryCards.js"></script>
  </body>
</html>