<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signup.css">
   
    <title>signup</title>
</head>
<body>
   
<div class="container">
    <div class="box form-box">
    <img class="giraffe-img"  src="../static/assets/loginAndSignup/Image/oi9k_apfr_230703.png" alt="baby giraffe">
    <h1>Create A New Account</h1>
    <form class="form1" action="/signup" method="post">
        {{form.hidden_tag()}}
        {{form.csrf_token(id="unique_id")}}
        <div class="field-input">
            {{form.name.label(for="username")}}
            {{form.name(id="username", placeholder="Enter your name")}}
        </div>
        <div class="field-email">
            {{form.email.label(for="email")}}
            {{form.email(id="email", placeholder="Enter your email")}}
        </div>
        <div class="field-password">
            {{form.password.label(for="password")}}
            {{form.password(id="password", placeholder="create your password")}}
        </div>
        <div class="submit">
            {{form.submit(id="submit")}}
            </div>
       <div class="links">
     <a href="http://localhost:3000/login">Log into existing account</a></p>
       </div>

       <script>
        const signInBtn = document.getElementById('submit');
        signInBtn.addEventListener('click',(event)=>{
            event.target.innerHtml = 'loading...'
        })

       </script>
</div>
</div>

</body>
</html>